- if @message.group
  - if @message.function
    It can only be seen by the group's
    = @message.group.readers.count
    = pluralize( @message.group.readers.count, 'member') + '.'
  - else 
    %p
      This message belongs to the 
      = link_to @message.group.name, admin_group_url(@message.group)
      group and can only be sent to (or seen by) its 
      = @message.group.readers.count
      = pluralize( @message.group.readers.count, 'member') + '.'
  