%p
  Hello 
    = @reader.honorific if Radiant::Config['reader.use_honorifics?']
    = @reader.name + ','

%p
  This is an automatic message to let you know that your account on the 
  = @site_title 
  site has been invited into the 
  = @group.name
  group. 
  You don't have to do anything to accept this invitation: when you visit the site you will automatically gain access to the pages, discussions and downloads belonging to the group.

- if @reader.inactive?
  %p
    You will have received another message containing an invitation to the site. Please click on the link in that message to activate your account and join the group.
  
%p
  If you have any questions, please contact 
  = @sender 
  on 
  = link_to @sending_email, "mailto:#{@sending_email}" + '.'
  You can do that by replying to this message.
  
  
- content_for :header do
  This is the header

- content_for :footer do
  This is the header

- content_for :pagetitle do
  = @subject