%tr.node.level-1
  - render_region :tbody do |tbody|
    - tbody.name_cell do
      %td.group
        %p
          = link_to group.name, admin_group_url(group)
          %br
          = truncate_words(group.description, 40)
    - tbody.home_cell do
      %td.home
        - if group.homepage
          = link_to group.homepage.title, edit_admin_page_url(group.homepage)
        - else
          none
    - tbody.members_cell do
      %td.members
        = link_to group.readers.count, admin_group_url(group)
    - tbody.pages_cell do
      %td.pages
        = link_to group.pages.count, admin_group_url(group)
    - tbody.modify_cell do
      %td.actions
        = render :partial => 'actions', :locals => {:group => group}
