- include_stylesheet('admin/group')

= render_region :top

#groups_table.outset      
  %table#groups.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      = render :partial => 'list_head'
    %tbody
      - @groups.each do |group|
        = render :partial => 'listed', :locals => {:group => group}
        
- render_region :bottom do |bottom|
  - bottom.buttons do
    #actions
      = pagination_for @readers
      %ul
        %li
          = link_to image('plus') + " " + "new group", new_admin_group_url
