- include_stylesheet('admin/group')
%h1 
  Send message to 
  = link_to @group.name, edit_admin_group_url(@group)
  group

- if params[:subject] && params[:message]
  .form-area
    - form_for @group, :url => { :action => "message" }, :html => {:id => 'confirmation_form', :method => 'post'} do
      = hidden_field_tag "subject", h(params[:subject])
      = hidden_field_tag "message", h(params[:message])

      %h2 
        Please check message
      
      %blockquote.messagepreview
        = message_preview(params[:subject], params[:message], @group.readers.first)    
        %p.buttons
          = submit_tag 'This is fine. Send it to everyone.', :name => 'confirm'

    %p 
      Not fine? Edit and preview again below.

- form_for @group, :url => { :action => "message" }, :html => {:id => 'message_form', :method => 'post'} do
  .form-area
    %p.title
      %label{:for => "subject"}
        Message Subject
        = text_field_tag "subject", params[:subject], :class => 'textbox', :maxlength => 255
    %p.description
      %label{:for => "message"}
        Message Body
        = text_area_tag "message", params[:message], :class => 'textarea', :style => "width: 100%"

    %p.buttons
      = submit_tag 'Preview message', :name => 'preview'
      or
      = link_to "Cancel", admin_group_url(@group)
