- include_stylesheet('admin/group')
%h1 
  Populate:
  = link_to @group.name, admin_group_url(@group)
  = render :partial => 'actions', :locals => {:group => @group}

%p 
  This is a quick way to bring a group of people into the system in one go. 
  Enter a comma-separated list of names and email addresses below (one person per line, no quoting) 
  and each of those people will be invited into the system, issued an account with a vaguely adequate username 
  and an entirely random password. Anyone who is already here will just be added to the group. All will be sent
  the usual group-welcome message.

- if @readers
  - form_for @group, :url => populate_admin_group_url(@group), :html => {:id => 'confirmation_form', :method => 'post'} do
    .form-area
      %h2 Please check reader list
      %ul 
        %li Fields in red have validation problems. That usually means an email address or login needs checking. 
        %li Fields in grey show that we already have that person here (based on their email address): in that case all we'll do is send an invitation to the 
        = @group.name
        group. Those people you can't edit here.
        %li Edit anything that needs it, uncheck the box next to anyone that you don't want to invite after all, and hit the 'invite these readers' button to send out messages.
      %table#import
        %thead
          %tr
            %th
            - if Radiant::Config['reader.use_honorifics?']
              %th Title or rank
            %th Full name
            %th Email
            %th Login
        %tbody
          - i = 0
          - @readers.each do |reader| 
            - if reader.new_record?
              %tr.import
                %td
                  = check_box_tag "import_reader[]", i, {:checked => true}
                - if Radiant::Config['reader.use_honorifics?']
                  %td 
                    = text_field_tag "reader_#{i}[honorific]", reader.honorific, :class => "preview#{ ' with_error' if reader.errors.on(:honorific)}", :title => reader.errors.on(:honorific)
                %td 
                  = text_field_tag "reader_#{i}[name]", reader.name, :class => "preview#{ ' with_error' if reader.errors.on(:name)}", :title => reader.errors.on(:name)
                %td 
                  = text_field_tag "reader_#{i}[email]", reader.email, :class => "preview#{ ' with_error' if reader.errors.on(:email)}", :title => reader.errors.on(:email)
                %td 
                  = text_field_tag "reader_#{i}[login]", reader.login, :class => "preview#{ ' with_error' if reader.errors.on(:login)}", :title => reader.errors.on(:login)
            - else
              %tr.invite
                %td
                  = check_box_tag "invite_reader[]", reader.id, {:checked => true}
                - if Radiant::Config['reader.use_honorifics?']
                  %td
                    = text_field_tag "reader_#{i}[honorific]", reader.honorific, :class => "preview#{ ' with_error' if reader.errors.on(:honorific)}", :title => reader.errors.on(:honorific), :disabled => true
                %td 
                  = text_field_tag "reader_#{i}[name]", reader.name, :class => "preview#{ ' with_error' if reader.errors.on(:name)}", :title => reader.errors.on(:name), :disabled => true
                %td 
                  = text_field_tag "reader_#{i}[email]", reader.email, :class => "preview#{ ' with_error' if reader.errors.on(:email)}", :title => reader.errors.on(:email), :disabled => true
                %td 
                  = text_field_tag "reader_#{i}[login]", reader.login, :class => "preview#{ ' with_error' if reader.errors.on(:login)}", :title => reader.errors.on(:login), :disabled => true
            - i = i + 1

      %p.buttons
        = submit_tag 'Invite these readers into the group', :name => 'confirm'
        or 
        = link_to 'start again', populate_admin_group_url(@group)

- else 
  - form_for @group, :url => { :action => "populate" }, :html => {:id => 'preview_form', :method => 'post'} do
    .form-area
      %h2 Invite new people
      %p
        %label{:for => "readerlist"}
          User List
        - if Radiant::Config['reader.use_honorifics?']
          title or rank, 
        name, email, [login]
        %br
        = text_area_tag "readerlist", params[:readerlist], :class => "textarea", :style => "width: 100%; height: 240px;"

      %p.buttons
        = submit_tag 'preview import'
        or
        = link_to "Cancel", admin_group_url(@group)
    
      %p
        When you press the 'preview import' button, the list will be repeated back to you to show exactly what reader accounts we are going to create and/or invite into this group. 
        You can make changes at that stage, but please check the list formatting carefully: be sure there are no commas other than where you want them and that the email addresses are correct.
      
  